HW2/part2/filesystem.img
.cache.mk
.ili.ko.cmd
.ili.mod.o.cmd
.ili.o.cmd
.ili_main.o.cmd
.ili_utils.o.cmd
.tmp_versions/
Module.symvers
bad_inst
bad_inst.o
bad_inst_2
bad_inst_2.o
ili.ko
ili.mod.c
ili.mod.o
ili.o
ili_handler.o
ili_main.o
ili_utils.o
modules.order
.vscode/
HW2/part1/.vscode/
HW2/.vscode/*.json